/*Applied Throughout the page*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Body*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*The Title*/
.title {
    background-color: #3399cc;
    color: white;
    box-sizing: border-box;
    padding: 30px 30px 30px 20px;
}

.title > h1 {
    font-size: 50px;
    font-weight: lighter;
}

/*Navigation Bar*/
.navigation {
    background-color: black;
    min-height: 35px;
}

.navigation > button {
    color: white;
    background-color: black;
    border: 0px;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
}

.navigation > img {
    float: right;
    padding: 5px 20px
}

/*Contacts Heading*/

#heading {
    padding: 40px 40px 30px 20px;
}



/*Contacts List*/
/*Contact*/
.contacts-list{
    display: inline-block;
    width: 30%;
    margin-right: 0px;
}
.contact {
    border: 1px solid black;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.contact.selected {
    background-color: #cee7f2;
}

.contact > .name {
    font-weight: lighter;
    padding-bottom: 5px;
}

.contact .email {
    margin-left: 10px;
}

.contact .mobile {
    margin-left: 10px;
}

/*Selected Contact Display*/

#contact-selected{
    /* visibility: hidden; */
    display: none;
    float: right;
    margin-right: 300px;
}

#selected-buttons{
    float: right;
    padding-left: 500px;
    position: relative;
    bottom: 40px;
}

#selected-edit {
background-color: white;
border: 0px;
font-size: 15px;
padding: 0px 30px 0px 5px;
}

#selected-edit > img {
    height: 18px;
    width: 15px;
    position: relative;
    top: 3px;
}

#selected-delete{
background-color: white;
border: 0px;
font-size: 15px;
padding: 0px 30px 0px 5px;
}

#selected-delete > img {
    height: 25px;
    width: 15px;
    position: relative;
    top: 3px;
    right: 5px;
    
}

#selected-email{
padding: 10px 0px 20px 0px;
}

#selected-website {
    padding: 25px 0px;
}

#selected-address > span {
    word-break: break-all;
}

/*Form*/

#form {
    width: 40%;
    border: 5px solid black;
    float: right;
    /* visibility: hidden; */
    display: none;
    position: absolute;
    left: 600px;
}

.form-error{
    border: 1px solid red;
}

#form-name-error{
    color: red;
    display: none;
}
#form-email-error{
    color: red;
    display: none;
}

#form-mobile-error{
    color: red;
    display: none;
}
#form-landline-error{
    color: red;
    display: none;
}
#form-website-error{
    color: red;
    display: none;
}