/*Applied Throughout the page*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Body*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    cursor: pointer;
}

input[type='submit']{
    cursor: pointer;
}

/*The Title*/
.title {
    background-color: #3399cc;
    color: white;
    box-sizing: border-box;
    padding: 30px 30px 30px 20px;
}

.title > h1 {
    font-size: 50px;
    font-weight: lighter;
}

/*Navigation Bar*/
.navigation {
    background-color: black;
    min-height: 35px;
}

.navigation > button {
    color: white;
    background-color: black;
    border: 0px;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
}

.navigation > img {
    float: right;
    padding: 5px 25px
}

/*Contacts Heading*/

#heading {
    padding: 40px 40px 30px 20px;
    font-weight: bold;
}



/*Contacts List*/
/*Contact*/
.contacts-list{
    width: 30%;
    float: left;
}
.contact {
    border: 1px solid #dbdbdb;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.contact.selected {
    background-color: #cee7f2;
}

.contact > .name {
    font-weight: lighter;
    padding-bottom: 5px;
}

.contact .email {
    margin-left: 10px;
}

.contact .mobile {
    margin-left: 10px;
}

/*Selected Contact Display*/

#contact-selected{
    display: none;
    width: 60%;
    float: left;
    margin-left: 90px;
}

#selected-name{
    width: 40%;
    float: left;
    word-wrap: break-word;
    
}


#selected-edit {
background-color: white;
border: 0px;
font-size: 15px;
padding: 0px 30px 0px 5px;
}

#selected-edit > img {
    height: 18px;
    width: 15px;
    position: relative;
    top: 3px;
}

#selected-delete{
background-color: white;
border: 0px;
font-size: 15px;
padding: 0px 30px 0px 5px;
}

#selected-delete > img {
    height: 25px;
    width: 15px;
    position: relative;
    top: 3px;
    right: 5px;
    
}

#selected-email{
padding: 30px 0px 20px 0px;
word-wrap: break-word;
}

#selected-website {
    padding: 25px 0px;
    word-wrap: break-word;
}

#selected-address > span {
    word-wrap: break-word;
}

/*Form*/

#form {
    box-shadow: 0 0 15px 1px;
    display: none;
    width: 55%;
    float: left;
    margin-left: 50px;
    padding: 40px 30px 30px 30px;
}

#form > label {
font-weight: bold;
display: block;
position: relative;
}

#form > input {
    border: 1px solid black;
    height: 30px;
    width: 80%;
    margin-bottom: 20px;
}


#form-address {
    border: 1px solid black;
    height: 80px !important;
}
.form-error{
    border: 1px solid red;
}

#form-name-error{
    color: red;
    position: absolute;
    top: 105px;
    display: none;
}
#form-email-error{
    color: red;
    position: absolute;
    top: 195px;
    display: none;
}

#form-mobile-error{
    color: red;
    position: absolute;
    top: 260px;
    display: none;
}

#form-website-error{
    color: red;
    display: none;
    position: absolute;
    top: 330px;
}

#form-submit-btn {
    background-color: green;
    color: white;
    width: 20% !important;
    float: right;
}

#form-cancel-btn {
    background-color: red;
    color: white;
    width: 20%;
    padding: 5px;
}
#form-mobile {
    width: 38.3% !important;
    display: inline !important;
}

#form-landline {
    width: 38.3% !important;
    margin-left: 20px !important;
}

#form-mobile-label {
    display: inline !important;
}

#form-landline-label{
    display: inline !important;
    padding-left: 240px;
}